<%= simple_form_for(@invoice) do |f| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Created by <%= current_user.email %> on <%=  Date.today.strftime("%d-%m-%Y") %></h3>
    </div>
    <div class="panel-body">

      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


      <div class="form-inputs">
        <%= f.input :title, required: true, input_html: { required: true } %>
      </div>

      <table class="table table-hover table-bordered dynamic-add">
        <thead>
          <tr>
            <th></th>
            <th>Quantity</th>
            <th>Product</th>
            <th>Price Per Unit</th>
          </tr>
        </thead>

      <tbody class="fields">    
        <%= f.simple_fields_for(:line_items) do |li| %>
          <%= render 'line_item', f: li%>
        <% end %>
      </tbody>
    </table>
        <%= link_to_add_row("Add Item", f, :line_items, class: 'btn btn-danger') %>
        <div class="slight-top-margin">
          <%= f.input :amount, readonly: true, input_html: {id: "amount-without-tax" } %>
          <%= f.input :tax_percentage, readonly: true, input_html: {value: 15} %>
          <%= f.input :total_amount, readonly: true, input_html: {id: "amount-with-tax"} %>
          <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id}%>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
<% end %>
