<tr class="info">
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to "Delete", "#", class: "remove_record" %>
    </td>
  <td> <%= f.input :quantity, label: false, input_html: {class: "product-quantity", data: {prices: Product.all.order(:name).pluck(:id, :price).each_with_object({}) {|(k, v), h| h[k] = v}.to_json  } } %></td>
  <td><%= f.collection_select :product_id, Product.all.order(:name), :id, :name, options={include_blank: false}, html_options={class: "form-control product-listing", data: {prices: Product.all.order(:name).pluck(:id, :price).each_with_object({}) {|(k, v), h| h[k] = v}.to_json  }}%></td>
  <td class="product-price"></td>
</tr>