<p id="notice"><%= notice %></p>
<div class="slight-top-margin panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Invoices</h3>
  </div>
  <div class="panel-body">
    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Tax percentage</th>
          <th>Total amount</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.title %></td>
            <td><%= invoice.amount %></td>
            <td><%= invoice.tax_percentage %></td>
            <td><%= invoice.total_amount %></td>
            <td><%= invoice.user.email %></td>
            <td><%= link_to 'Show', invoice %></td>
            <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
            <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<br>

<%= link_to 'New Invoice', new_invoice_path, class: "btn btn-success btn-block" %>
