<p id="notice"><%= notice %></p>
<div class="slight-top-margin col-md-8 offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Invoice Title: <%= @invoice.title %></h3>
    </div>
    <div class="panel-body">
      <p>
        <strong>Title:</strong>
        <%= @invoice.title %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @invoice.amount %>
      </p>

      <p>
        <strong>Tax percentage:</strong>
        <%= @invoice.tax_percentage %>
      </p>

      <p>
        <strong>Total amount:</strong>
        <%= @invoice.total_amount %>
      </p>

      <p>
        <strong>Invoice Creator Email:</strong>
        <%= @invoice.user.email %>
      </p>
    </div>
  </div>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-primary" %>
<%= link_to 'Back', invoices_path, class: "btn btn-success" %>

</div>
