<%= simple_form_for @product do |f| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> <%= @product.name %></h3>
    </div>
    <div class="panel-body">
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true,input_html: { required: true } %>
        <%= f.input :price, required: true, input_html: { required: true } %>
        <%= f.association :tags, as: :select, multiple: true, required: true, input_html: { class: 'select-multiple', required: true } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>