<div class="slight-top-margin">
  <%= form_tag(products_path, method: :get) do %>
    <%= text_field_tag :search_query, params[:search_query], :size => 20, :placeholder => "Comma seperated tags.. Eg: Tea,Beverage", :autocomplete => "off", :class => "form-control"%>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm"%>
  <% end %>
</div>