<%= render "search_form" %>
<div class="slight-top-margin panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> Products</h3>
  </div>
  <div class="panel-body">
    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Tag</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= (!product.tags.blank? && (!product.tags.pluck(:name).blank?)) ? product.tags.pluck(:name) :  "No Tag Present"%></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= paginate @products %>
<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>