<div class="slight-top-margin col-md-8 offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Product Name: <%= @product.name %></h3>
    </div>
    <div class="panel-body">
      <p><b>Product Price:</b>  <%= @product.price %></p>
      <p><b>Tags: </b> <%= (!@product.tags.blank? && (!@product.tags.pluck(:name).blank?)) ? @product.tags.pluck(:name) :  "No Tag Present"%></p>
    </div>
  <!-- <h4> Product Name: <%#= @product.name %> </h4> -->

</div>